<table class="table table-striped table-bordered table-master">
  <thead>
    <tr>
      <th colspan="8">Awards (5 pts. max)
        <% if @cce_record.has_max_points_for_awards? %>
          <span style="color: red;" class="pull-right">
            <em>(5 pts. max reached)</em>
          </span>
        <% else %>
          <span class="pull-right">
            <em><%= format_in_decimal(@cce_record.sum_of_awards) %></em>
          </span>
        <% end %>
      </th>
    </tr>
    <tr>
      <td colspan="10">
        <%= link_to new_award_path,
                    class: "btn btn-primary btn-xs" do %>
          <span class="glyphicon glyphicon-plus"></span>
          <em>New record</em>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Level</th>
      <th>Date Awarded</th>
      <th>Description</th>
      <th>Points</th>
      <th>NBC</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% achievements.includes(cce_scoring: :nbc).
          each_with_index do |award, index| %>
      <tr <%= "class=info" unless award.cce_scoring.recorded? %>>
        <td><%= index += 1 %></td>
        <td><%= award.name %></td>
        <td><%= award.level_to_string %></td>
        <td><%= date_format_readable(award.date_awarded) %></td>
        <td><%= award.description %></td>
        <td class="text-right">
          <%= format_in_decimal(award.cce_scoring.points) %>
        </td>
        <td><%= render "nbc_link", record: award.cce_scoring %></td>
        <td>
          <%= render("action_links", record: award) unless award.cce_scoring.recorded? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>