<%= form_for [:admin, @client] do |f| %>
  <%= error_messages_for(@client) %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control', autofocus: true, maxlength: Client.get_field_limit_of(:first_name) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control', maxlength: Client.get_field_limit_of(:last_name) %>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control', maxlength: Client.get_field_limit_of(:description) %>
      </div>
    </div>
  </div>

  <% if @client.new_record? %>
    <!-- User Account form builder (user_account_fb) -->
    <h3 class="page-header">Required associated user account</h3>
    <%= f.fields_for :user_account do |user_account_fb| %>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= user_account_fb.label :username %>
            <%= user_account_fb.text_field :username, class: 'form-control', maxlength: User::USERNAME_MAX_LENGTH %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= user_account_fb.label :password %>
            <%= user_account_fb.password_field :password, class: 'form-control', maxlength: User::PASSWORD_MAX_LENGTH %>
          </div>
        </div>
      </div>
    <% end # f.fields_for %>
  <% end # if @client.new_record? %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.submit class: 'btn btn-primary' %>
      </div>      
    </div>
  </div>
<% end %>