<style>
  div.panel-body {
    padding: 15px 7px 7px 7px;
  }

  form div.col-md-3 {
    // border: 1px green solid;
    padding: 0px 7px;
  }

  form > div.col-md-12 {
    // border: 1px red solid;
    padding: 0px 7px;
  }
    
  div.panel-heading {
    padding-top: 7px;
    padding-bottom: 7px;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">
      <span>Faculty Career Pathing<span>
    </h2>
  </div>  <!-- .col-md-12 -->
</div>  <!-- .row -->
<%= render 'search_box' %>

<% unless @actions.nil? %>
  <% if @employee.career_path.present? %>
    <h3>Career path for <%= @employee.career_path.name %></h3>
  <% end %>
  <table class="table table-bordered table-striped table-master content">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Category</th>
        <th>Start</th>
        <th>End</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @actions.each_with_index do |action, index| %>
        <tr>
          <td><%= index += 1 %></td>
          <td><%= action.name %></td>
          <td><%= category_type_to_string(action.category) %></td>
          <td><%= date_format_readable(action.start_at) %></td>
          <td><%= date_format_readable(action.end_at) %></td>
          <td><%= action.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%# results = "#{pluralize(@leaves.count, 'record')} found" %>
<!-- <h3 class="page-header">Search Results: <span style="font-style: italic"><%#= results %><span></h3>   -->