<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">Edit Account</h2>
  </div>
</div>
<%= form_tag user_account_path, method: :patch do %>
  <%= error_messages_for(@current_user) %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= label_tag :username %>
        <%= text_field_tag :username, params[:username], class: 'form-control', autofocus: true %>  
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= label_tag :current_password %>
        <%= password_field_tag :current_password, params[:current_password], class: 'form-control', autocomplete: 'off' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= label_tag :new_password %>
        <%= password_field_tag :new_password, params[:new_password], class: 'form-control', autocomplete: 'off' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= submit_tag 'Update', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>