<%= form_for [:admin, @employee, @academic_honor] do |f| %>
  <%= error_messages_for(@academic_honor) %>  
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :award, 'Award' %>
        <%= f.text_field :award, class: 'form-control',
              autofocus: true, required: true,
              maxlength: Employee::AcademicHonor.get_field_limit_of(:award) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :degree_type, 'Degree' %>
        <%= f.select :degree_type,
              Employee::AcademicHonor.degree_type_options,
              {}, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :honor_type, 'Honor' %>
        <%= f.select :honor_type,
              Employee::AcademicHonor.honor_type_options,
              {}, class: 'form-control' %>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :school, 'School/Agency' %>
        <%= f.text_field :school, class: 'form-control',
            required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :date_awarded, 'Date Awarded' %>
        <%= f.date_field :date_awarded, class: 'form-control',
            required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>