<table class="table table-striped table-bordered table-master">
  <thead>
    <tr>
      <th colspan="8">Administrative Work Experiences</th>
    </tr>
    <tr>
      <th>#</th>  
      <th>Position</th>
      <th>Institution</th>
      <th>Start</th>
      <th>End</th>
      <th>Points</th>
      <th>NBC</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% work_experiences.includes(cce_scoring: :nbc).
          each_with_index do |work_experience, index| %>
      <tr>
        <td><%= index += 1 %></td>
        <td><%= work_experience.position_to_string %></td>
        <td><%= work_experience.institution %></td>
        <td><%= date_format_readable(work_experience.start_at) %></td>
        <td><%= date_format_readable(work_experience.end_at) %></td>
        <td class="text-right"><%= work_experience.cce_scoring.points %></td>
        <td>
          <%= link_to work_experience.cce_scoring.nbc_name,
                admin_nbc_path(work_experience.cce_scoring.nbc_id) %>
        </td>        
        <td>
          <%= link_to edit_admin_employee_admin_work_experience_path(
                employee, work_experience
              ),
              title: 'Edit', data: { toggle: 'tooltip' } do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to admin_employee_admin_work_experience_path(
                  employee, work_experience
                ),
                method: :delete, title: 'Delete',
                data: { toggle: 'tooltip',
                        confirm: 'Do you really want to delete this record?' } do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>                
      </tr>
    <% end %>
  </tbody>
</table>