<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">
      <span>Students</span>
      <span class="pull-right">
        <%= link_to new_admin_student_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span> New
        <% end %>
      </span>
    </h2>
  </div>  <!-- .col-md-12 -->
</div> <!-- .row -->
<table class="table table-bordered table-striped table-master content">
  <thead>
    <tr>
      <th>#</th>
      <th>Student Name</th>
      <th>Department</th>
      <th colspan="2">Actions</th>      
    </tr>
  </thead>
  <tbody>
    <% @students.each_with_index do |student, index| %>
      <tr>
        <td><%= index += 1 %></td>
        <td>
          <%= link_to student.full_name, admin_student_path(student), title: 'View', data: { toggle: 'tooltip' } %>
        </td>
        <td><%= student.department.name if student.department %></td>
        <td>
          <%= link_to edit_admin_student_path(student), title: 'Edit', data: { toggle: 'tooltip' } do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to admin_student_path(student), title: 'Delete', method: :delete, data: { toggle: 'tooltip', confirm: 'Do you really want to delete this record?' } do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>