<div class="col-md-6 col-md-offset-0">
  <% leave_counter = 0 %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Recent Leaves Filed</h4>
    </div>
    <div class="table-responsive">
      <table id="table-master" class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>Faculty</th>
            <th>Date Filed</th>
            <th>Start At</th>
            <th>End At</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <% @leaves.each do |leave| %>
            <tr>
              <td><%= leave_counter += 1 %></td>
              <td><%= link_to leave.employee.full_name, '#' %></td>
              <td><%= date_format_readable(leave.filed_at) %></td>
              <td><%= date_format_readable(leave.start_at) %></td>
              <td><%= date_format_readable(leave.end_at) %></td>
              <td>
                <%= link_to edit_admin_leave_path(leave), { title: 'View', data: { toggle: 'tooltip' } } do %>
                  <span class="glyphicon glyphicon-zoom-in"></span>
                <% end %>
                <%= link_to edit_admin_leave_path(leave), { title: 'Edit', data: { toggle: 'tooltip' } }  do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                <% end %>
                <%= link_to admin_leave_path(leave), method: :delete, title: 'Delete', data: { toggle: 'tooltip', confirm: 'Do you really want to delete this record?' } do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>                
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>