<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'CAPSU HR Admin', admin_dashboard_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <!-- Faculty dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Faculty<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Add New', new_admin_employee_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Manage', admin_employees_path %></li>
            <li><%= link_to 'Query', admin_employees_query_path %></li>
          </ul>
        </li>
        <!-- end of Faculty dropdown -->

        <!-- Leaves dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Leaves<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Manage', admin_leaves_path %></li>
            <li><%= link_to 'Service Credits', admin_leave_service_credits_path %></li>
          </ul>
        </li>
        <!-- end of Leaves dropdown -->

        <!-- Career Pathing dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Career Pathing<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Career Paths', admin_career_paths_path  %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Employee Career Pathing', '#'  %></li>
          </ul>
        </li>
        <!-- end of Career Pathing dropdown -->

        <!-- Ratings dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ratings<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- <li><%#= link_to 'QCE', '#' %></li> -->
            <li><%= link_to 'Instruction' %></li>
            <li><%= link_to 'Research' %></li>
            <li><%= link_to 'Extension' %></li>
            <li><%= link_to 'Production' %></li>
            <!-- <li><%#= link_to 'CCE', '#' %></li> -->
          </ul>          
        </li>
        <!-- end of Ratings dropdown -->

        <!-- Records (lookup) dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Records<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'NBCs', admin_nbcs_path %></li>
            <li><%= link_to 'Academic Years', admin_academic_years_path %></li>
            <li><%= link_to 'Academic Rankings', admin_academic_rankings_path  %></li>
            <li><%= link_to 'Specializations', admin_specializations_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Students', admin_students_path %></li>
            <!-- <li><%#= link_to 'Users', admin_users_path %></li> -->
            <li><%= link_to 'Admins', admin_admins_path  %></li>
          </ul>
        </li>
        <!-- end of Records dropdown -->
        
        <!-- Reports dropdown -->
        <!-- <li class="drodown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Report 1</a></li>
            <li><a href="#">Report 2</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Report 3</a></li>
          </ul>
        </li>    -->
        <!-- end of Reports dropdown -->
      </ul> <!-- nav navbar-nav -->

      <%= form_tag admin_employees_search_path, method: :get, class: 'navbar-form navbar-left', role: "search" do %>
        <div class="form-group">
          <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search Faculty' %>
        </div>
        <%= button_tag "Search", name: nil, type: 'submit', class: 'btn btn-default' %>
      <% end %>
      
      <ul class="nav navbar-nav navbar-right">
        <% if admin_signed_in? %>
          <!-- Account dropdown -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Edit Account', edit_admin_account_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Log out', admin_logout_path, method: :delete  %></li>
            </ul>
          </li>
          <!-- end of Account dropdown -->
        <% end %> 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>