<% if record.recorded? %>
  <span class="label label-info"><%= record.nbc_name %></span>
<% else %>
  <%= link_to edit_polymorphic_path([:admin, employee, record]),
        title: 'Edit', data: { toggle: 'tooltip' } do %>
    <span class="glyphicon glyphicon-pencil"></span>
  <% end %>
  <%= link_to polymorphic_path([:admin, employee, record]),
        method: :delete, title: 'Delete',
        data: { toggle: 'tooltip', 
                confirm: 'Do you really want to delete this record?' } do %>
    <span class="glyphicon glyphicon-remove"></span>
  <% end %>
<% end %>
<!--  -->
<% if false %>
  <%= link_to edit_polymorphic_path([:admin, employee, record]),
        title: 'Edit', data: { toggle: 'tooltip' } do %>
    <span class="glyphicon glyphicon-pencil"></span>
  <% end %>
  <%= link_to polymorphic_path([:admin, employee, record]),
        method: :delete, title: 'Delete',
        data: { toggle: 'tooltip', 
                confirm: 'Do you really want to delete this record?' } do %>
    <span class="glyphicon glyphicon-remove"></span>
  <% end %>
<% end %>