<div id="employee-card" class="row">
  <div class="col-md-3">
    <!-- <img class="img-responsive img-thumbnail center-block" src="http://lorempixel.com/200/200/people/" alt=""> -->
    <%= image_tag model.picture.url, size: "210", class: 'img-responsive img-thumbnail center-block' %>
  </div>
  <div class="col-md-9">
    <h2 class="page-header">
      <span><%= model.full_name %></span>
      <div class="pull-right">
        <span class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%#= link_to 'Print PDS', '#' %></li>
              <li><%#= link_to 'Perform Ranking', new_admin_employee_ranking_path(model) %></li>
              <!-- <li role="separator" class="divider"></li> -->
              <li><%= link_to 'Delete Record', admin_employee_path(model), method: :delete, data: { confirm: 'Delete Employee record? This is undoable!' }%></li>
            </ul>
          </div>
        </span>
      </div>
    </h2>
    <div class="employee-card-info">
      <p><%= model.faculty_no %></p>
      <p><%= model.rank.full_name if model.rank %></p>
      <p><%= model.designation if model.designation.present? %></p>
      <p><%= "#{model.age} years old" if model.age.present? %></p>
      <p><%= "#{pluralize(model.years_in_service, 'year')} in service" %></p>
    </div>
  </div>
</div><!-- #employee-card.row-->