<div class="col-md-3">
  <div class="thumbnail">
    <%= link_to [:admin, employee] do %>
      <%= image_tag employee.picture.url(:medium), class: 'img-responsive img-thumbnail' %>
    <% end %>
    <div id="info" class="caption">
      <h4><%= link_to employee.full_name, [:admin, employee] %></h4>
      <p><%= employee.rank.full_name unless employee.rank.nil? %></p>
      <p><%= employee.designation %></p>  
    </div>
  </div>
</div>