<tr>
  <!-- employee_counter is a built-in variable for rendering collections -->
  <!-- Use the #{model_name}_counter built-in variable to track the number of objects it has rendered -->
  <td><%= employee_counter += 1 %></td>
  <td><%= employee.first_name %></td>
  <td><%= employee.last_name %></td>
  <td><%= link_to 'Show', [:admin, employee] %></td>
  <td><%= link_to 'Edit', [:edit, :admin, employee] %></td>
  <td><%= link_to 'Delete', [:admin, employee], method: :delete, data: { confirm: 'Are you sure?' } %></td>  
</tr>