<div class="row employee-tabs">
  <ul class="nav nav-tabs">
    <li role="presentation" class="<%= get_bs_active_class(:employees) %>">
      <%= link_to "Profile", admin_employee_path(@employee) %>
    </li>
    <li role="presentation" class="<%= get_bs_active_class(:career_paths) %>">
      <%= link_to "Career Path",
          admin_employee_career_path_path(@employee) %>
    </li>

    <% tab_names = %i(leaves leave_service_credits) %>
    <li role="presentation" class="<%= get_bs_active_class(*tab_names) %>">
      <%= link_to "Leaves", admin_employee_leaves_path(@employee) %>
    </li>

    <li role="presentation" class="<%= get_bs_active_class(:cce_records) %>">
      <%= link_to "CCE", admin_employee_cce_record_path(@employee) %>
    </li>

    <% tab_names = %i(
          qces
          instructions
          researches
          extensions
          productions
          instruction_summary_sheets
          support_area_summary_sheets
          computation_summary_ratings
        )
    %>
    <li role="presentation" class="<%= get_bs_active_class(*tab_names) %>">
      <%= link_to "QCE", admin_employee_qces_path(@employee) %>
    </li>

    <li role="presentation" class="<%= get_bs_active_class(:evaluations) %>">
      <%= link_to "Evaluations",
            admin_employee_evaluations_path(@employee) %>
    </li>

    <% tab_names = %i(
          educations
          academic_degrees
          additional_degrees
          additional_credits
          trainings
        ) 
    %>
    <li role="presentation" class="<%= get_bs_active_class(*tab_names) %>">
      <%= link_to "Education", admin_employee_educations_path(@employee) %>
    </li>

    <% tab_names = %i(
          work_experiences
          academic_work_experiences
          admin_work_experiences
          professional_work_experiences
          public_private_work_experiences
        )
    %>
    <li role="presentation" class="<%= get_bs_active_class(*tab_names) %>">
      <%= link_to "Work Experiences", admin_employee_work_experiences_path(@employee)%>
    </li>

    <% tab_names = %i(
        achievement_and_honors2s
        professional_memberships
        academic_honors
        scholarships
        awards
        community_outreaches
        professional_examinations

        achievement_and_honors1s
        inventions
        discoveries
        creative_works
        innovations
        publications
        technical_articles
        instructional_manuals

        expert_services
        consultancy_services
        professional_services
        academic_advisories
        professional_reviews
        accreditation_services
        assessor_services
        trainer_services
      )
    %>
    <li role="presentation" class="dropdown <%= get_bs_active_class(*tab_names) %>">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Prof. Development <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Achievement & Honors",
                admin_employee_achievement_and_honors_path(@employee) %>
        </li>
        <li><%= link_to "Discoveries & Creative Works",
                  admin_employee_discoveries_and_creative_works_path(@employee) %>
        </li>
        <li>
          <%= link_to "Expert Services & Trainings",
                admin_employee_expert_services_path(@employee) %>
        </li>
      </ul>
    </li>
  </ul>
</div>  <!-- <div#employee-related-data.row> -->