<div id="employee-tabs" class="row">
  <ul class="nav nav-tabs">
    <li role="presentation" class="<%= get_bs_active_class(:employees) %>">
      <%= link_to 'Profile', admin_employee_path(@employee) %>
    </li>
    <li role="presentation" class="<%= get_bs_active_class(:career_paths) %>">
      <%= link_to 'Career Path',
          admin_employee_career_path_path(@employee) %>
    </li>
    <li role="presentation" class="<%= get_bs_active_class(:cce_records) %>">
      <%= link_to 'CCE', admin_employee_cce_record_path(@employee) %>
    </li>    
    <li role="presentation" class="<%= get_bs_active_class(:qces) %>">
      <%= link_to 'QCE', admin_employee_qces_path(@employee) %>
    </li>
    <li role="presentation" class="<%= get_bs_active_class(:leaves) %>">
      <%= link_to 'Leaves', admin_employee_leaves_path(@employee) %>
    </li>

    <% tab_names = %i(
          educations
          academic_degrees
          additional_degrees
          additional_credits
          trainings
        ) 
    %>
    <li role="presentation" class="<%= get_bs_active_class(*tab_names) %>">
      <%= link_to 'Education', admin_employee_educations_path(@employee) %>
    </li>

    <% tab_names = %i(
          work_experiences
          academic_work_experiences
          admin_work_experiences
          professional_work_experiences
          public_private_work_experiences
        )
    %>
    <li role="presentation" class="<%= get_bs_active_class(*tab_names) %>">
      <%= link_to 'Work Experiences', admin_employee_work_experiences_path(@employee)%>
    </li>
 
    <% tab_names = %i(
          achievement_and_honors1s
          inventions
          discoveries
          creative_works
          innovations
          publications
          technical_articles
          instructional_manuals
        )
    %>
    <li role="presentation"
        class="<%= get_bs_active_class(*tab_names) %>">
      <%= link_to 'Achievements & Honors 1',
            admin_employee_achievement_and_honors_1_path(@employee) %>
    </li>

    <% tab_names = %i(
          achievement_and_honors2s
          professional_memberships
          academic_honors
          scholarships
          awards
          community_outreaches
          professional_examinations
        )
    %>
    <li role="presentation"
        class="<%= get_bs_active_class(*tab_names) %>">
      <%= link_to 'Achievements & Honors 2',
            admin_employee_achievement_and_honors_2_path(@employee) %>
    </li>

    <% tab_names = %i(
        expert_services
        consultancy_services
        professional_services
        academic_advisories
        professional_reviews
        accreditation_services
        assessor_services
        trainer_services
      ) 
    %>
    <li role="presentation" class="<%= get_bs_active_class(*tab_names) %>">
      <%= link_to 'Expert Services',
            admin_employee_expert_services_path(@employee) %>
    </li>    
  </ul>
</div>  <!-- <div#employee-related-data.row> -->

<% if false %>  
  <li role="presentation" class="<%= get_bs_active_class(:rankings) %>">
    <%= link_to 'Rankings', admin_employee_rankings_path(@employee) %>
  </li>
  <li role="presentation" class="<%= get_bs_active_class(:cce_scorings) %>">
    <%= link_to 'CCE', admin_employee_cce_scorings_path(@employee) %>
  </li>
  <li role="presentation" class="<%= get_bs_active_class(:trainings) %>">
    <%= link_to 'Trainings', admin_employee_trainings_path(@employee)%>
  </li>
<% end %>