<div id="employee-tabs" class="row">
  <ul class="nav nav-tabs">
    <li role="presentation" class="<%= set_active_tab(:employees) %>">
      <%= link_to 'Profile', admin_employee_path(@employee) %>
    </li>
    <li role="presentation" class="<%= set_active_tab(:career_paths) %>">
      <%= link_to 'Career Path',
          admin_employee_career_path_path(@employee) %>
    </li>
    <li role="presentation" class="<%= set_active_tab(:qces) %>">
      <%= link_to 'QCEs', admin_employee_qces_path(@employee) %>
    </li>    
    <li role="presentation" class="<%= set_active_tab(:cce_scorings) %>">
      <%= link_to 'CCE', admin_employee_cce_scorings_path(@employee) %>
    </li>
    <li role="presentation" class="<%= set_active_tab(:educations) %>">
      <%= link_to 'Educations', admin_employee_educations_path(@employee) %>
    </li>
    <li role="presentation" class="<%= set_active_tab(:work_experiences) %>">
      <%= link_to 'Work Experiences', admin_employee_work_experiences_path(@employee)%>
    </li>
    <li role="presentation"
        class="<%= set_active_tab(:professional_developments) %>">
      <%= link_to 'Prof. Developments', admin_employee_professional_developments_path(@employee) %>
    </li>
    <li role="presentation" class="<%= set_active_tab(:leaves) %>">
      <%= link_to 'Leaves', admin_employee_leaves_path(@employee) %>
    </li>    
    <li role="presentation" class="<%= set_active_tab(:trainings) %>">
      <%= link_to 'Trainings', admin_employee_trainings_path(@employee)%>
    </li>
    <li role="presentation" class="<%= set_active_tab(:professional_examinations) %>">
      <%= link_to 'Prof. Examinations',
            admin_employee_professional_examinations_path(@employee) %>
    </li>
    <li role="presentation" class="<%= set_active_tab(:community_outreaches) %>">
      <%= link_to 'Community Outreaches',
            admin_employee_community_outreaches_path(@employee) %>
    </li>
    <li role="presentation" class="<%= set_active_tab(:awards) %>">
      <%= link_to 'Awards', admin_employee_awards_path(@employee) %>
    </li>

    <% if false %>
      <li role="presentation" class="<%= set_active_tab(:civil_service_eligibilities) %>">
        <%= link_to 'Civil Service', admin_employee_civil_service_eligibilities_path(@employee)%>  
      </li>
      <li role="presentation" class="<%= set_active_tab(:voluntary_works) %>">
        <%= link_to 'Voluntary Works', admin_employee_voluntary_works_path(@employee)%>
      </li>
      <li role="presentation" class="<%= set_active_tab(:other_infos) %>">
        <%= link_to 'Other Info', admin_employee_other_infos_path(@employee) %>
      </li>
      <li role="presentation" class="<%= set_active_tab(:rankings) %>">
        <%= link_to 'Rankings', admin_employee_rankings_path(@employee) %>
      </li>
    <% end %>
  </ul>
</div>  <!-- <div#employee-related-data.row> -->