<h2 class="page-header">New Employee</h2>
<%= render 'new_form' %>
<%= link_to 'Back to Employees', admin_employees_path, class: 'btn btn-link' %>
<pre>
  <%= "Employee is new record? #{@employee.new_record?}" %>
  <%= "Employee is nil? #{@employee.nil?}" %>
  <%= "Employee User account is nil? => #{@employee.user_account.nil?}" %>
  <%= debug(@employee) %>
</pre>