<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>
<div>
  <%= link_to 'Educations', admin_employee_educations_path(@employee.id), class: 'btn btn-success' %>
  <%= link_to 'Trainings', admin_employee_trainings_path(@employee.id), class: 'btn btn-success' %>
  <%= link_to 'Civil Service', admin_employee_civil_service_eligibilities_path(@employee.id), class: 'btn btn-success' %>
  <%= link_to 'Other Info', admin_employee_other_infos_path(@employee.id), class: 'btn btn-success' %>
  <%= link_to 'Voluntary', admin_employee_voluntary_works_path(@employee.id), class: 'btn btn-success' %>
  <%= link_to 'Work Experiences', admin_employee_work_experiences_path(@employee.id), class: 'btn btn-success' %>  
</div>

<%= link_to 'Edit', edit_admin_employee_path(@employee), class: 'btn btn-link' %> |
<%= link_to 'Back to Employees', admin_employees_path, class: 'btn btn-link' %>