<%= form_tag qce_clientele_instrument_path(@qce), method: :post do %>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <div class="form-group">
          <%# selection = params[:clients][0] if params[:clients][0].present? %>
          <% value = params[:clients][0] if params[:clients].present? %>
          <%= collection_select nil, nil, @employees, :id, :full_name, { prompt: true, selected: value }, class: 'form-control', name: 'clients[]', id: 'client1' %>
        </div>
      </div>
      <div class="col-md-3">          
        <div class="form-group">
          <% value = params[:clients][1] if params[:clients].present? %>
          <%= collection_select nil, nil, @employees, :id, :full_name, { prompt: true, selected: value }, class: 'form-control', name: 'clients[]', id: 'client2' %>
        </div>
      </div>
      <div class="col-md-3">          
        <div class="form-group">
          <% value = params[:clients][2] if params[:clients].present? %>
          <%= collection_select nil, nil , @employees, :id, :full_name, { prompt: true, selected: value }, class: 'form-control', name: 'clients[]', id: 'client3' %>
        </div>
      </div>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <%= submit_tag 'Assign', class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
