<%= form_tag qce_community_instrument_path(@qce), method: :post do %>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">          
        <div class="form-group">
          <% value = params[:communities][0] if params[:communities].present? %>
          <%= collection_select nil, nil, @employees, :id, :full_name, { prompt: true, selected: value }, class: 'form-control', name: 'communities[]', id: 'community1' %>
        </div>
      </div>
      <div class="col-md-3">          
        <div class="form-group">
          <% value = params[:communities][0] if params[:communities].present? %>
          <%= collection_select nil, nil, @employees, :id, :full_name, { prompt: true, selected: value }, class: 'form-control', name: 'communities[]', id: 'community2' %>
        </div>
      </div>
      <div class="col-md-3">          
        <div class="form-group">
          <% value = params[:communities][0] if params[:communities].present? %>
          <%= collection_select nil, nil, @employees, :id, :full_name, { prompt: true, selected: value }, class: 'form-control', name: 'communities[]', id: 'community3' %>
        </div>
      </div>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <%= submit_tag 'Assign', class: 'btn btn-success' %>
      </div>
    </div>
  </div>  
<% end %>
