<div class="links">
  <%= link_to '< Back to QCEs', qces_path, class: 'btn btn-link' %>
</div>
<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">
      <!-- <span><%#= "My QCE for #{@qce.rating_period.coverage}" %></span> -->
      <span><%= "My QCE for #{@qce.rating_period.coverage_in_years}" %></span>
      <% if @qce.completed? %>
        <!--  -->
      <% end %>
      <span class="pull-right label <%= @qce.completed? ? 'label-success' : 'label-danger' %>"><%= @qce.completed? ? 'Completed' : 'Incomplete' %></span>
    </h2>
  </div>  <!-- .col-md-12 -->
</div>  <!-- .row -->
<div>
  <h4>Your current rank: <%= @current_user.account.rank.full_name %></h4>
</div>
<div class="qce-options">
  <h3 id="instruction-ratings" class="page-header">Ratings for Instruction/Teaching Effectiveness <%= link_to '(View/Check)', qce_path(@qce, anchor: 'instruction-ratings') if @qce.instruction_ratings.present? %></h3>
  <ol>
    <!-- Assign to Self -->
    <div id="assign-self">
      <h4>
        <li>Assign to Self <span class="assignment <%= 'glyphicon glyphicon-ok' if @qce.has_assigned_self_rating? %>"></span></li>
      </h4>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3">
            <div class="form-group">
              <%= button_to 'Assign', qce_self_instruction_rating_path(@qce), disabled: @qce.has_assigned_self_rating?, class: 'btn btn-success' %>
              <!-- Display the link for the newly created Rating -->
            </div>
          </div>
        </div>
      </div>
    </div> <!-- #assign-self -->

    <!-- Assign to Immediate Supervisor -->
    <div id="assign-supervisor">
      <h4>
        <li>Assign to Immediate Supervisor <span class="assignment <%= 'glyphicon glyphicon-ok' if @qce.has_assigned_supervisor_rating? %>"></span></li>
      </h4>
      <% if @qce.has_assigned_supervisor_rating? %>
        <%= render 'user/qces/selected_supervisor' %>
        <%= render partial: 'user/qces/delete_button', locals: { route_path: qce_supervisor_instruction_rating_path(@qce) } %>
        <!-- display link to supervisor -->
      <% else %>
        <%= render 'user/qces/supervisor_selection_form' %>
      <% end %>
    </div>  <!-- #assign-supervisor -->

    <!-- Assign to 5 Peers  -->
    <div id="assign-peers">
      <h4>
        <li>Assign to 5 Peers <span class="assignment <%= 'glyphicon glyphicon-ok' if @qce.has_assigned_peer_rating? %>"></span></li>
      </h4>
      <% if @qce.has_assigned_peer_rating? %>
        <%= render 'user/qces/selected_peers' %>
        <%= render partial: 'user/qces/delete_button', locals: { route_path: qce_peer_instruction_rating_path(@qce) } %>
        <!-- display link to Peer -->
      <% else %>
        <%= render 'user/qces/peer_selection_form' %>
      <% end %>
    </div>  <!-- #assign-peers -->    

    <!-- Assign to 30 students -->
    <div id="assign-students">
      <h4>
        <li>Assign to 30 Students (Randomly selected) <span class="assignment <%= 'glyphicon glyphicon-ok' if @qce.has_assigned_student_rating? %>"</li>
      </h4>
      <% if @qce.has_assigned_student_rating? %>
        <%= render 'user/qces/selected_students' %>
        <%= render partial: 'user/qces/delete_button', locals: { route_path: qce_student_instruction_rating_path(@qce) } %>
      <% else %>
        <%= render 'user/qces/student_selection_form' %>
      <% end %>
    </div>  <!-- #assign-students -->

  </ol>
</div> <!-- .qce-options -->
<!-- QCE Support Ratings: Researh/Extension/Production -->
<% if current_user.account.rank.allows_qce_support? %>
  <div class="qce-options">  
    <h3 id="support-ratings" class="page-header">Specify a support area to rate: <%= link_to '(View/Check)', qce_path(@qce, anchor: 'support-ratings') if @qce.support_area.present? %></h3>
    <!-- id="assign-support-area" -->
    <div>
      <div class="row">
        <div class="col-md-8">
          <div class="col-md-1">
            <div class="form-group">
              <label for="support_area-select"><h4>Area:</h4></label>
            </div>
          </div>  <!-- .col-md-1 -->          
          <% if @qce.support_area.present? %>
            <div class="col-md-5">
              <div class="form-group">
                <%= text_field_tag :support_area, @qce.support_area, class: 'form-control', disabled: true %>
              </div>
            </div>
            <div id="delete-support-area" class="col-md-2">
              <div class="form-group">
                <%= button_to 'Delete', support_area_qce_path(@qce), method: :delete, class: 'btn btn-danger', params: { 'qce[support_area]': @qce.support_area } %>
              </div>
            </div>
          <% else %>
            <%= render 'user/qces/support_area_selection_form' %>
          <% end %>
        </div>
      </div>
    </div>  <!-- #assign-support-area -->
    
    <% if @qce.support_area.present? %>
      <ol>
        <div id="client-satisfaction">
          <h4>
            <li>Clientele Satisfaction (3 persons) <span class="assignment <%= 'glyphicon glyphicon-ok' if @qce.clientele_instruments.present? %>"></span>
            </li>
          </h4>
          <% if @qce.clientele_instruments.present? %>
            <%= render 'user/qces/clientele_evaluators' %>
            <%= render partial: 'user/qces/delete_button', locals: { route_path: qce_clientele_instrument_path(@qce) } %>
          <% else %>
            <%= render 'user/qces/clientele_selection_form' %>
          <% end %>
        </div>  <!-- #client-satisfaction -->

        <div id="leadership">
          <h4>
            <li>Leadership (1 person) <span class="assignment <%= 'glyphicon glyphicon-ok' if @qce.leadership_instrument.present? %>"></span></li>
          </h4>
          <% if @qce.leadership_instrument.present? %>
            <%= render 'user/qces/leadership_evaluator' %>
            <%= render partial: 'user/qces/delete_button', locals: { route_path: qce_leadership_instrument_path(@qce) } %>
          <% else %>
            <%= render 'user/qces/leadership_selection_form' %>
          <% end %>               
        </div>  <!-- #leadership -->

        <div id="partnership-development">
          <h4>
            <li>Partnership Development (3 persons) <span class="assignment <%= 'glyphicon glyphicon-ok' if @qce.partnership_instruments.present? %>"></span>
            </li>
          </h4>
          <% if @qce.partnership_instruments.present? %>
            <%= render 'user/qces/partnership_evaluators' %>
            <%= render partial: 'user/qces/delete_button', locals: { route_path: qce_partnership_instrument_path(@qce) } %>
          <% else %>
            <%= render 'user/qces/partnership_selection_form' %>
          <% end %>                                   
        </div>  <!-- #partnership-development -->

        <div id="community-responsibility">
          <h4>
            <li>Community Responsibility (3 persons) <span class="assignment <%= 'glyphicon glyphicon-ok' if @qce.community_instruments.present? %>"></span></li>
          </h4>
          <% if @qce.community_instruments.present? %>
            <%= render 'user/qces/community_evaluators' %>
            <%= render partial: 'user/qces/delete_button', locals: { route_path: qce_community_instrument_path(@qce) } %>
          <% else %>
            <%= render 'user/qces/community_selection_form' %>
          <% end %>
        </div>  <!-- #community-responsibility -->
      </ol>
    <% end # @qce.support_area.present? %>

  </div> <!-- .qce-options -->
<% end # if current_user.account.rank.allows_qce_support? %>
<div class="links">
  <%= link_to '< Back to QCEs', qces_path, class: 'btn btn-link' %> |&nbsp;
  <%= link_to 'View/Check', qce_path(@qce), class: 'btn btn-link' %>
</div>
