<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">QCEs</h2>
  </div>  <!-- .col-md-12 -->
</div> <!-- .row -->
<% display_number = 0 %>
<div>
  <h4>Available Ratings Periods for creating QCEs</h4>
  <table class="table table-bordered table-striped table-master content">
    <thead>
      <tr>
        <th>#</th>
        <th>Academic Year Coverage</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%# if true %>
      <% @available_rating_periods.each do |period| %>
        <tr>
          <td><%= display_number += 1 %></td>
          <td><%= period.coverage %></td>
          <td><%= button_to 'Begin', { action: :create }, class: 'btn btn-success', params: { 'qce[rating_period_id]': period.id } %></td>
        </tr>
      <% end %>
      <%# end %>
    </tbody>
  </table>
</div>

<!-- Show previous and completed QCEs -->
<% display_number = 0 %>
<div>
  <h4>QCEs</h4>
  <table class="table table-bordered table-striped table-master content">
    <thead>
      <tr>
        <th>#</th>
        <th>Rating Period</th>
        <th>Status</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @qces.each do |qce| %>
        <tr>
          <td><%= display_number += 1 %></td>
          <td><%= qce.rating_period.coverage %></td>
          <td>
            <span class="label <%= qce.completed? ? 'label-success' : 'label-danger' %>">
              <%= qce.completed? ? 'Completed' : 'Incomplete' %>
            </span>
          </td>
          <td>
            <%= link_to qce_path(qce), { title: 'Check', data: { toggle: 'tooltip' } } do %>
              <span class="glyphicon glyphicon-zoom-in"></span> Check
            <% end %>
            <%= link_to edit_qce_path(qce), { title: 'Edit', data: { toggle: 'tooltip' } } do %>
              <span class="glyphicon glyphicon-pencil"></span> Edit
            <% end %>            
            <%#= link_to qce_path(qce), method: :delete, title: 'Delete', data: { confirm: 'Do you really want to delete this record?',
            toggle: 'tooltip' } do %>
              <!-- <span class="glyphicon glyphicon-remove"></span> -->
            <%# end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>