<% display_number = 0 %>
<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">
      <span>Holidays</span>
      <span class="pull-right">
        <%= link_to new_admin_holiday_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span> New
        <% end %>
      </span>
    </h2>
  </div>  <!-- .col-md-12 -->
</div> <!-- .row -->
<table class="table table-bordered table-striped table-master content">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Occurs At</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @holidays.each do |holiday| %>
      <tr>
        <td><%= display_number += 1 %></td>
        <td><%= holiday.name %></td>
        <td><%= date_format_readable(holiday.occurs_at) %></td>
        <td>
          <%= link_to edit_admin_holiday_path(holiday), { title: 'Edit', data: { toggle: 'tooltip' } }   do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to admin_holiday_path(holiday), method: :delete, title: 'Delete', data: { confirm: 'Do you really want to delete this record?',
          toggle: 'tooltip' } do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>