<table class="table table-striped table-bordered table-master">
  <thead>
    <tr>
      <th>#</th>  
      <th>Title</th>
      <th>Name of Agency</th>
      <th>Date Passed</th>
      <th>Category</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @employee.professional_examinations.
                  each_with_index do |examination, index| %>
      <tr>
        <td><%= index += 1 %></td>
        <td><%= examination.title %></td>
        <td><%= examination.agency_name %></td>
        <td><%= date_format_readable(examination.date_passed) %></td>
        <td><%= examination.category_to_string %></td>
        <td>
          <%= render "admin/employees/action_links",
                        record: examination, employee: examination.employee %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>