<div id="professional-memberships" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Professional Memberships</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_professional_membership_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%= render "professional_memberships" %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
</div>  <!-- #professional-memberships.category -->

<div id="academic-honors" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Academic Honors</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_academic_honor_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%= render "academic_honors" %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
</div>  <!-- #academic-honors.category -->

<div id="scholarships" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Scholarships</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_scholarship_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%= render "scholarships" %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->  
</div>  <!-- #scholarships.category -->

<div id="awards" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Awards</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_award_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%= render "awards" %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
</div>  <!-- #awards.category -->

<div id="community-outreaches" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Community Outreaches</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_community_outreach_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%= render "community_outreaches" %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
</div>  <!-- #community-outreaches.category -->

<div id="professional-examinations" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Professional Examinations</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_professional_examination_path,
                class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%= render "professional_examinations" %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->  
</div>  <!-- #professional-examinations.category -->