<div class="row">
  <div class="col-md-12">
    <%= form_tag admin_faculty_evaluations_path, method: :get do %>
      <div class="col-md-3">
        <div class="form-group">
          <%= label_tag :employee_id, 'Faculty' %>
          <%= collection_select :employee, :id, Employee.all, :id,
              :full_name, { include_blank: ' --- Select Faculty --- ' },
              class: 'form-control', name: 'employee_id' %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <%= label_tag :nbc_id, 'NBC' %>
          <%= collection_select :nbc, :id, NBC.valid, :id, :name,
              { include_blank: ' --- Select NBC --- ' },
              class: 'form-control', name: 'nbc_id' %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= submit_tag 'Search', class: 'btn btn-success',
                id: 'evaluate-button', name: 'commit' %>
        </div>
      </div>
    <% end %>
  </div>
</div>