<div id="personal-info" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Personal Information</h3>
  </div>  <!-- .panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :first_name, class: 'control-label' do %>
              First Name <span class="required">*</span>
            <% end %>
            <%= text_field_tag :first_name, @profile.first_name,
                  class: 'form-control',
                  autofocus: true, disabled: true,
                  maxlength: Employee.get_field_limit_of(:first_name) %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :middle_name, 'Middle Name',
                class: 'control-label'%>
            <%= text_field_tag :middle_name, @profile.middle_name,
                class: 'form-control',
                disabled: true,
                maxlength: Employee.get_field_limit_of(:middle_name) %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= label :last_name, class: 'control-label' do %>
              Last Name <span class="required">*</span>
            <% end %>
            <%= text_field_tag :last_name, @profile.last_name,
                class: 'form-control', disabled: true,
                maxlength: Employee.get_field_limit_of(:last_name) %>
          </div>
        </div>
      </div>  <!-- .col-md-12 -->
    </div>  <!-- .row -->

    <!-- Start new row -->
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2">
          <div class="form-group">
            <%= label_tag :name_extension, 'Name Extension', class: 'control-label' %>
            <%= text_field_tag :name_extension, @profile.name_extension,
                  class: 'form-control',
                  disabled: true%>
            <!-- <span class="help-block"><em>(7 chars max)</em></span> -->
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <%= label :gender, class: 'control-label' do %>
              Gender <span class="required">*</span>
            <% end %>
            <%= text_field_tag :gender, @profile.gender,
                  class: 'form-control',
                  disabled: true%>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :civil_status,
                            'Civil Status', class: 'control-label' %>
            <%= text_field_tag :civil_status, @profile.civil_status,
                  class: 'form-control',
                  disabled: true %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :birth_date, 'Date of Birth', class: 'control-label' %>
            <%= text_field_tag :birth_date, @profile.birth_date,
                disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>  <!-- .col-md-12 -->
    </div>  <!-- .row -->
    
    <!-- Start new row -->
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2">
          <div class="form-group">
            <%= label_tag :height, "Height", class: 'control-label' %>
            <%= text_field_tag :height, @profile.height, class: 'form-control', disabled: true %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <%= label_tag :weight, "Weight", class: 'control-label' %>
            <%= text_field_tag :weight, @profile.weight, class: 'form-control', disabled: true %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <!-- must be a 'select' field -->
            <%= label_tag :blood_type, 'Blood Type', class: 'control-label' %>
            <%= text_field_tag :blood_type, @profile.blood_type,
                class: 'form-control', disabled: true %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :citizenship, "Citizenship", class: 'control-label' %>
            <%= text_field_tag :citizenship, @profile.citizenship,
                class: 'form-control', disabled: true %>
          </div>
        </div>          
      </div>  <!-- .col-md-12 -->
    </div>  <!-- .row -->

    <!-- Start new row -->
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :cellphone_no, 'Cellphone #', class: 'control-label' %>
            <%= text_field_tag :cellphone_no, @profile.cellphone_no,
                class: 'form-control', disabled: true %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <!-- must be an 'email' field -->
            <%= label_tag :email_address, 'Email Address', class: 'control-label' %>
            <%= text_field_tag :email_address, @profile.email_address,
                class: 'form-control', disabled: true %>
          </div>
        </div>
      </div>  <!-- .col-md-12 -->
    </div>  <!-- .row -->
  </div>  <!-- .panel-body -->
</div>  <!-- #personal-info .panel -->

<div id="employment-information" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Employment Information</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :hired_date, "Hired Date", class: 'control-label' %>
            <%= text_field_tag :hired_date, @profile.hired_date, class: 'form-control', disabled: true %>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :academic_ranking_id, 'Rank', class: 'control-label' %>
            <%= text_field_tag :academic_rank, @profile.rank.full_name, class: "form-control", disabled: true %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :designation, "Designation", class: 'control-label' %>
            <%= text_field :designation, @profile.designation, class: 'form-control', disabled: true %>
          </div>
        </div>
      </div>  <!-- .col-md-12 -->
    </div>  <!-- .row -->

    <!-- Start new row -->
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :specialization, 'Specialization (Career Path)', class: 'control-label' %>
            <%= text_field_tag :specialization,
                @profile.specialization.name, class: "form-control",
                disabled: true %>
          </div>            
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :department, 'Department', class: 'control-label' %>
            <%= text_field_tag :department, @profile.department.name, class: "form-control", disabled: true %>
          </div>            
        </div>          
      </div>  <!-- .col-md-12 -->
    </div>  <!-- .row -->
  </div> <!-- .panel-body -->
</div>  <!--  #employment-information .panel -->

<div id="government-membership" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Gov. Membership</h3>
  </div>  <!-- .panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :gsis_no, 'GSIS #', class: 'control-label' %>
            <%= text_field_tag :gsis_no, @profile.gsis_no,
                  class: 'form-control', disabled: true %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :pagibig_no, 'PAG-IBIG #', class: 'control-label' %>
            <%= text_field :pagibig_no, @profile.pagibig_no,
                class: 'form-control', disabled: true %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :philhealth_no, 'PhilHealth #', class: 'control-label' %>
            <%= text_field_tag :philhealth_no, @profile.philhealth_no, 
                  class: 'form-control', disabled: true %>
          </div>
        </div>
      </div>  <!-- .col-md-12 -->
    </div>  <!-- .row -->
    
    <!-- Start new row -->
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :sss_no, 'SSS #', class: 'control-label' %>
            <%= text_field_tag :sss_no, @profile.sss_no, class: 'form-control', disabled: true %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :agency_employee_no, 'Agency Employee #', class: 'control-label' %>
            <%= text_field_tag :agency_employee_no,
                  @profile.agency_employee_no, class: 'form-control',
                  disabled: true %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :tin, 'TIN', class: 'control-label' %>
            <%= text_field_tag :tin, @profile.tin, class: 'form-control',
                  disabled: true %>
          </div>
        </div>
      </div>  <!-- .col-md-12 -->
    </div>  <!-- .row -->
  </div>  <!-- .panel-body -->
</div>  <!-- #government-membership .panel -->

<div id="addresses-panel" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Addresses</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :r_address, 'Residential Address', class: 'control-label' %>
        <%= text_area_tag :r_address, @profile.r_address,
            class: 'form-control',
            disabled: true, rows: 3 %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :p_address, 'Permanent Address', class: 'control-label' %>
        <%= text_area_tag :p_address, @profile.p_address, class: 'form-control', disabled: true, rows: 3 %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :r_zip_code, 'Residential Zip Code', class: 'control-label' %>
        <%= text_field_tag :r_zip_code, @profile.r_zip_code, class: 'form-control', disabled: true %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :p_zip_code, 'Permanent Zip Code', class: 'control-label' %>
        <%= text_field_tag :p_zip_code, @profile.p_zip_code, class: 'form-control', disabled: true %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :r_telephone_no, 'Residential Tel. #', class: 'control-label' %>
        <%= text_field_tag :r_telephone_no, @profile.r_telephone_no, 
              class: 'form-control', disabled: true %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :p_telephone_no, 'Permanent Tel. #', class: 'control-label' %>
        <%= text_field_tag :p_telephone_no, @profile.p_telephone_no,
              class: 'form-control', disabled: true %>
      </div>
    </div>      
  </div>  <!-- .panel-body -->
</div>  <!-- #addresses-panel .panel -->