<%= error_messages_for(@profile) %>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <%= image_tag @profile.picture.url, size: "210", class: 'img-responsive img-thumbnail center-block' %>
    </div>
    <div class="col-md-9">
      <h2 class="page-header">
        <span><%= @profile.full_name %></span>
      </h2>
      <div class="employee-card-info">
        <p><%= @profile.faculty_no %></p>
        <p><%= @profile.rank.full_name if @profile.rank %></p>
        <p><%= @profile.designation if @profile.designation.present? %></p>
        <p><%= "#{@profile.age} years old" if @profile.age.present? %></p>
        <p><%= "#{pluralize(@profile.years_in_service, 'year')} in service" %></p>
      </div>
    </div>  <!-- .col-md-9 -->
  </div>  <!-- .col-md-12 -->
</div> <!-- .row -->
&nbsp;&nbsp;
<div id="personal-info" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Personal Information</h3>
  </div>  <!-- .panel-heading -->
  <div class="panel-body">
    <%= form_for(@profile, url: personal_info_hr_profile_path) do |f| %>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :first_name do %>
                First Name <span class="required">*</span>
              <% end %>
              <%= f.text_field :first_name, class: "form-control",
                    autofocus: true, required: true,
                    maxlength: Employee.get_field_limit_of(:first_name)
              %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :middle_name, "Middle Name" %>
              <%= f.text_field :middle_name, class: "form-control",
                  maxlength: Employee.get_field_limit_of(:middle_name) %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :last_name, class: "control-label" do %>
                Last Name <span class="required">*</span>
              <% end %>
              <%= f.text_field :last_name, class: "form-control",
                  required: true,
                  maxlength: Employee.get_field_limit_of(:last_name) %>
            </div>
          </div>
        </div>  <!-- .col-md-12 -->
      </div>  <!-- .row -->

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-2">
            <div class="form-group">
              <%= f.label :name_extension, "Name Extension" %>
              <%= f.text_field :name_extension, class: "form-control",
              maxlength: Employee.get_field_limit_of(:name_extension) %>
              <!-- <span class="help-block"><em>(7 chars max)</em></span> -->
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <%= f.label :gender do %>
                Gender <span class="required">*</span>
              <% end %>
              <%= f.select :gender, gender_types_for_select, {},
                    class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :civil_status, "Civil Status" %>
              <%= f.select :civil_status, civil_status_types_for_select,
                    {}, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :birth_date, "Date of Birth" %>
              <%= f.date_field :birth_date, class: "form-control",
                                            required: true %>
            </div>
          </div>
        </div>  <!-- .col-md-12 -->
      </div>  <!-- .row -->

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-2">
            <div class="form-group">
              <%= f.label :height, "Height" %>
              <%= f.text_field :height, class: "form-control",
                    maxlength: Employee.get_field_limit_of(:height) %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <%= f.label :weight, "Weight" %>
              <%= f.text_field :weight, class: "form-control",
                    maxlength: Employee.get_field_limit_of(:weight) %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :blood_type, "Blood Type" %>
              <%= f.select :blood_type, blood_types_for_select, {},
                    class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :citizenship, "Citizenship" %>
              <%= f.text_field :citizenship, class: "form-control",
                  maxlength: Employee.get_field_limit_of(:citizenship) %>
            </div>
          </div>
        </div>  <!-- .col-md-12 -->
      </div>  <!-- .row -->

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :cellphone_no, "Cellphone #" %>
              <%= f.text_field :cellphone_no, class: "form-control",
                maxlength: Employee.get_field_limit_of(:cellphone_no) %>
            </div>
          </div>  <!-- .col-md-4-->
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :email_address, "Email Address" %>
              <%= f.email_field :email_address, class: "form-control",
                maxlength: Employee.get_field_limit_of(:email_address) %>
            </div>
          </div>  <!-- .col-md-4-->
        </div>  <!-- .col-md-12 -->
      </div>  <!-- .row -->

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="form-group">
              <%= submit_tag "Update", class: "btn btn-primary" %>
            </div>
          </div>  <!-- .col-md-4 -->
        </div>  <!-- .col-md-12 -->
      </div>  <!-- .row -->
    <% end %> <%# form_for personal_info %>
  </div>  <!-- .panel-body -->
</div>  <!-- #personal-info .panel -->

<div id="employment-information" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Employment Information <em>(only the Admin can modify this)</em>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <%= label :hired_date, "Hired Date" %>
            <%= text_field_tag :hired_date,
                  @profile.hired_date.strftime("%m/%d/%Y"),
                  class: "form-control", disabled: true %>
          </div>
        </div>   <!-- .col-md-4 -->
        <div class="col-md-4">
          <div class="form-group">
            <%= label :academic_ranking_id, "Rank" %>
            <%= text_field_tag :academic_rank, @profile.rank.full_name, class: "form-control", disabled: true %>
          </div>
        </div>  <!-- .col-md-4 -->
        <div class="col-md-4">
          <div class="form-group">
            <%= label :designation, "Designation" %>
            <%= text_field_tag :designation, @profile.designation, class: "form-control", disabled: true %>
          </div>
        </div>  <!-- .col-md-4 -->
      </div>  <!-- .col-md-12 -->
    </div>  <!-- .row -->

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="form-group">
            <%= label :specialization,
                        "Specialization (Career Path)" %>
            <%= text_field_tag :specialization,
                @profile.specialization.name, class: "form-control",
                disabled: true %>
          </div>
        </div>  <!-- .col-md-4 -->
        <div class="col-md-4">
          <div class="form-group">
            <%= label :department, "Department" %>
            <%= text_field_tag :department, @profile.department.name, class: "form-control", disabled: true %>
          </div>
        </div>  <!-- .col-md-4 -->
        <div class="col-md-4">
          <div class="form-group">
            <%= label :faculty_no, "Faculty #" %>
            <%= text_field_tag :faculty_no, @profile.faculty_no,
                  class: "form-control", disabled: true %>
          </div>
        </div>        
      </div>  <!-- .col-md-12 -->
    </div>  <!-- .row -->
  </div> <!-- .panel-body -->
</div>  <!--  #employment-information .panel -->

<div id="government-membership" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Gov. Membership</h3>
  </div>  <!-- .panel-heading -->
  <div class="panel-body">
    <%= form_for(@profile,
                  url: gov_membership_info_hr_profile_path) do |f| %>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :gsis_no, "GSIS #" %>
              <%= f.text_field :gsis_no, class: "form-control",
                  maxlength: Employee.get_field_limit_of(:gsis_no) %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :pagibig_no, "PAG-IBIG #" %>
              <%= f.text_field :pagibig_no, class: "form-control",
                  maxlength: Employee.get_field_limit_of(:pagibig_no) %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :philhealth_no, "PhilHealth #" %>
              <%= f.text_field :philhealth_no, class: "form-control",
                maxlength: Employee.get_field_limit_of(:philhealth_no) %>
            </div>
          </div>
        </div>  <!-- .col-md-12 -->
      </div>  <!-- .row -->

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :sss_no, "SSS #" %>
              <%= f.text_field :sss_no, class: "form-control",
                    maxlength: Employee.get_field_limit_of(:sss_no) %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :agency_employee_no, "Agency Employee #" %>
              <%= f.text_field :agency_employee_no,
                  class: "form-control",
                  maxlength: Employee.
                              get_field_limit_of(:agency_employee_no) %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :tin, "TIN" %>
              <%= f.text_field :tin, class: "form-control",
                    maxlength: Employee.get_field_limit_of(:tin) %>
            </div>
          </div>
        </div>  <!-- .col-md-12 -->
      </div>  <!-- .row -->

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="form-group">
              <%= submit_tag "Update", class: "btn btn-primary" %>
            </div>
          </div>    <!-- .col-md-4 -->
        </div>    <!-- .col-md-12 -->
      </div>    <!-- .row -->
    <% end %> <%# form_for membership_info %>
  </div>  <!-- .panel-body -->
</div>  <!-- #government-membership .panel -->

<div id="addresses-panel" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Addresses</h3>
  </div>  <!-- .panel-heading -->
  <div class="panel-body">
    <%= form_for(@profile,
                  url: addresses_info_hr_profile_path) do |f| %>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :r_address, "Residential Address" %>
              <%= f.text_area :r_address, class: "form-control", rows: 3,
                    maxlength: Employee.get_field_limit_of(:r_address) %>
            </div>
          </div>  <!-- .col-md-6 -->
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :p_address, "Permanent Address" %>
              <%= f.text_area :p_address, class: "form-control", rows: 3,
                    maxlength: Employee.get_field_limit_of(:p_address) %>
            </div>
          </div>  <!-- .col-md-6 -->
        </div>  <!-- .col-md-12 -->
      </div>  <!-- .row -->

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :r_zip_code, "Residential Zip Code" %>
              <%= f.text_field :r_zip_code, class: "form-control",
                  maxlength: Employee.get_field_limit_of(:r_zip_code) %>
            </div>
          </div>  <!-- .col-md-6 -->
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :p_zip_code, "Permanent Zip Code" %>
              <%= f.text_field :p_zip_code, class: "form-control",
                  maxlength: Employee.get_field_limit_of(:p_zip_code) %>
            </div>
          </div>   <!-- .col-md-6 -->
        </div>  <!-- .col-md-12 -->
      </div>  <!-- .row -->

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :r_telephone_no, "Residential Tel. #" %>
              <%= f.text_field :r_telephone_no, class: "form-control",
              maxlength: Employee.get_field_limit_of(:r_telephone_no) %>
            </div>
          </div>  <!-- .col-md-6 -->
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :p_telephone_no, "Permanent Tel. #" %>
              <%= f.text_field :p_telephone_no, class: "form-control",
              maxlength: Employee.get_field_limit_of(:p_telephone_no) %>
            </div>
          </div>   <!-- .col-md-6 -->
        </div>  <!-- .col-md-12 -->
      </div>  <!-- .row -->

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="form-group">
              <%= submit_tag "Update", class: "btn btn-primary" %>
            </div>
          </div>    <!-- .col-md-4 -->
        </div>    <!-- .col-md-12 -->
      </div>    <!-- .row -->
    <% end %>   <%# form_for addresses_info %>
  </div>  <!-- .panel-body -->
</div>  <!-- #addresses-panel .panel -->
