<div id="employee-card" class="row">
  <div class="col-md-3">
    <%= link_to admin_employee_path(searched_employee) do %>
      <%= image_tag searched_employee.picture.url(:medium), size: "210", class: 'img-responsive img-thumbnail center-block' %>
    <% end %>
  </div>
  <div class="col-md-9">
    <h2 class="page-header">
      <span><%= link_to searched_employee.full_name, admin_employee_path(searched_employee) %></span>
      <div class="pull-right">
        <span class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <!-- <li><%#= link_to 'Perform Ranking', "#" %></li> -->
              <!-- <li role="separator" class="divider"></li> -->
              <li><%= link_to 'Delete Record', admin_employee_path(searched_employee), method: :delete, data: { confirm: 'Delete Employee record? This is undoable!' }%></li>
            </ul>
          </div>
        </span>
      </div>
    </h2>
    <div class="employee-card-info">
      <p><%= searched_employee.rank.full_name if searched_employee.rank %></p>
      <p><%= searched_employee.designation if searched_employee.designation.present? %></p>
      <p><%= "#{searched_employee.age} years old" if searched_employee.age.present? %></p>
      <p>
        <%= "#{pluralize(searched_employee.years_in_service, 'year')} in service" %>
      </p>
      <!-- <p><%#= "Employed since #{searched_employee.hired_date}" if searched_employee.hired_date.present? %></p> -->
    </div>
  </div>
</div>