<table class="table table-striped table-bordered table-master">
  <thead>
    <tr>
      <th colspan="8">Academic Advisories</th>
    </tr>    
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Nature</th>
      <th>Start</th>
      <th>End</th>
      <th>Points</th>
      <th>NBC</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% achievements.includes(:cce_scoring).each_with_index do |advisory, index| %>
      <tr>
        <td><%= index += 1 %></td>
        <td><%= advisory.title %></td>
        <td><%= advisory.nature_to_string %></td>
        <td><%= date_format_readable(advisory.start_at) %></td>
        <td><%= date_format_readable(advisory.end_at) %></td>
        <td class="text-right"><%= advisory.cce_scoring.points %></td>
        <td>
          <%= link_to advisory.cce_scoring.nbc_name,
                admin_nbc_path(advisory.cce_scoring.nbc_id) %>
        </td>        
        <td>
          <%= link_to edit_admin_employee_academic_advisory_path(
                        employee, advisory
                        ), 
                title: 'Edit', data: { toggle: 'tooltip' } do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to admin_employee_academic_advisory_path(
                        employee, advisory
                        ),
                method: :delete, title: 'Delete',
                data: { toggle: 'tooltip', 
                        confirm: 'Do you really want to delete this record?' } do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>