<table class="table table-striped table-bordered table-master">
  <thead>
    <tr>
      <th colspan="9">Inventions</th>
    </tr>    
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Patent No.</th>
      <th>Patent Type</th>
      <th>Year Patented</th>
      <th>Description</th>
      <th>Points</th>
      <th>NBC</th>      
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% achievements.includes(cce_scoring: :nbc).
          each_with_index do |invention, index| %>
      <tr>
        <td><%= index += 1 %></td>
        <td><%= invention.name %></td>
        <td><%= invention.patent_no %></td>
        <td><%= invention.patent_type_to_string %></td>
        <td><%= invention.year_patented %></td>
        <td><%= invention.description %></td>
        <td class="text-right"><%= invention.cce_scoring.points %></td>
        <td>
          <%= link_to invention.cce_scoring.nbc_name,
                admin_nbc_path(invention.cce_scoring.nbc_id) %>
        </td>        
        <td>
          <%= link_to edit_admin_employee_invention_path(
                        employee,invention
                        ), 
                title: 'Edit', data: { toggle: 'tooltip' } do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to admin_employee_invention_path(
                        employee, invention
                        ),
                method: :delete, title: 'Delete',
                data: { toggle: 'tooltip', 
                        confirm: 'Do you really want to delete this record?' } do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>