<table class="table table-striped table-bordered table-master">
  <thead>
    <tr>
      <th colspan="8">Professional Examinations</th>
    </tr>    
    <tr>
      <th>#</th>  
      <th>Title</th>
      <th>Name of Agency</th>
      <th>Date Passed</th>
      <th>Category</th>
      <th>Points</th>
      <th>NBC</th>      
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% achievements.includes(cce_scoring: :nbc).
          each_with_index do |examination, index| %>
      <tr <%= "class=info" unless examination.cce_scoring.recorded? %>>
        <td><%= index += 1 %></td>
        <td><%= examination.title %></td>
        <td><%= examination.agency_name %></td>
        <td><%= date_format_readable(examination.date_passed) %></td>
        <td><%= examination.category_to_string %></td>
        <td class="text-right"><%= examination.cce_scoring.points %></td>
        <td><%= render "nbc_link", record: examination.cce_scoring %></td>
        <td>
          <%= render("action_links", record: examination, employee: employee) unless examination.cce_scoring.recorded? %>
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>