<table class="table table-striped table-bordered table-master">
  <thead>
    <tr>
      <th colspan="9">Scholarships</th>
    </tr>    
    <tr>
      <th>#</th>  
      <th>Title</th>
      <th>Sponsoring Agency</th>
      <th>Date Granted</th>
      <th>Scholarship</th>
      <th>Degree</th>
      <th>Points</th>
      <th>NBC</th>      
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% achievements.includes(:cce_scoring).each_with_index do |scholarship, index| %>
      <tr>
        <td><%= index += 1 %></td>
        <td><%= scholarship.title %></td>
        <td><%= scholarship.sponsoring_agency %></td>
        <td><%= date_format_readable(scholarship.date_granted) %></td>
        <td><%= scholarship.scholarship_type_to_string %></td>
        <td><%= scholarship.degree_type_to_string %></td>
        <td class="text-right"><%= scholarship.cce_scoring.points %></td>
        <td><%= scholarship.cce_scoring.nbc_id %></td>
        <td>
          <%= link_to edit_admin_employee_scholarship_path(
                        employee, scholarship
                        ), 
                title: 'Edit', data: { toggle: 'tooltip' } do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to admin_employee_scholarship_path(
                        employee, scholarship
                        ),
                method: :delete, title: 'Delete',
                data: { toggle: 'tooltip', 
                        confirm: 'Do you really want to delete this record?' } do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>