<table class="table table-striped table-bordered table-master">
  <thead>
    <tr>
      <th colspan="11">Trainings</th>
    </tr>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Level</th>
      <th>Category</th>
      <th>Start</th>
      <th>End</th>
      <th>Conducted by</th>
      <th>Participation</th>
      <th>Points</th>
      <th>NBC</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% achievements.includes(cce_scoring: :nbc).
          each_with_index do |training, index| %>
      <tr>
        <td><%= index += 1 %></td>
        <td><%= training.title %></td>
        <td><%= training.level_to_string %></td>
        <td><%= training.category_to_string %></td>        
        <td><%= date_format_readable(training.start_at) %></td>
        <td><%= date_format_readable(training.end_at) %></td>
        <td><%= training.conducted_by %></td>
        <td><%= training.nature_of_participation %></td>
        <td class="text-right"><%= training.cce_scoring.points %></td>
        <td>
          <%= link_to training.cce_scoring.nbc_name,
                admin_nbc_path(training.cce_scoring.nbc_id) %>
        </td>        
        <td>
          <%= link_to edit_admin_employee_training_path(
                employee, training
              ), 
                title: 'Edit', data: { toggle: 'tooltip' } do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to admin_employee_training_path(employee, training),
                method: :delete, title: 'Delete',
                data: { toggle: 'tooltip', 
                        confirm: 'Do you really want to delete this record?' } do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>