<div class="row">
  <div class="col-md-12">
    <%= form_for @search_form,
          url: admin_search_employee_evaluations_path,
          method: :get do |f| %>
      <%= render partial: 'errors', locals: { object: @search_form } %>
      
      <div class="col-md-3">
        <div class="form-group">
          <%= f.label :employee_id, 'Faculty' %>
          <%= f.collection_select :employee_id, Employee.all, :id,
                :full_name, { include_blank: ' --- Select Faculty --- '},
                class: 'form-control',
                required: true, autofocus: true %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <%= f.label :nbc_id, 'NBC' %>
          <%= f.collection_select :nbc_id, NBC.valid, :id, :name,
              { include_blank: ' --- Select NBC --- ' },
              class: 'form-control', required: true %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.submit 'Search', class: 'btn btn-success',
                id: 'evaluate-button', name: 'commit' %>
        </div>
      </div>      
    <% end %>
  </div>  <!-- div.col-md-12 -->
</div>  <!-- div.row -->