<% display_number = 0 %>
<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">
      <span>QCE Questions</span>
<!--       <span class="pull-right">
        <%#= link_to new_admin_ratings_question_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span> New
        <%# end %>
      </span> -->
    </h2>
  </div>  <!-- .col-md-12 -->
</div> <!-- .row -->
<table id="table-master" class="table table-bordered table-striped content">
  <thead>
    <tr>
      <th>#</th>
      <th>Question</th>
      <th>Rating Type</th>
      <th>Instrument</th>
      <th>Sequence</th>
      <!-- <th colspan="3">Actions</th> -->
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= display_number += 1 %></td>
        <td><%= question.question %></td>
        <td><%= question.rating_type %></td>
        <td><%= question.instrument %></td>
        <td><%= question.sequence %></td>
      </tr>      
    <% end  # @questions.each %>
  </tbody>
</table>
<% if false %>
  <td>
    <%= link_to admin_ratings_question_path(question) do %>
      <span class="glyphicon glyphicon-zoom-in"></span>
    <% end %>          
    <%= link_to edit_admin_ratings_question_path(question) do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
    <%= link_to admin_ratings_question_path(question), method: :delete, data: { confirm: 'Do you really want to delete this record?' } do %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
  </td>
<% end %>