<%#
  employee_id = params[:employee_id] if params[:employee_id] 
  academic_year_id = params[:academic_year_id] if params[:academic_year_id]
%>
<style>
  div.panel-body {
    padding: 15px 7px 7px 7px;
  }

  form div.col-md-3 {
    // border: 1px green solid;
    padding: 0px 7px;
  }

  form > div.col-md-12 {
    // border: 1px red solid;
    padding: 0px 7px;
  }
    
  div.panel-heading {
    padding-top: 7px;
    padding-bottom: 7px;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">
      <span>Leaves<span>
      <span class="pull-right">
        <%= link_to new_admin_leave_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span> New
        <% end %>
      </span>
    </h2>
  </div>  <!-- .col-md-12 -->
</div>  <!-- .row -->
<%= render 'admin/leave_service_credits/search_box' %>
<% display_number = 0 %>
<% unless @remaining_leaves.nil? %>
  <div class="row">
    <div class="col-md-6">
      <div class="alert alert-info">
        <p><strong>Summarize leave info for <%= @employee.full_name %> in Academic Year <%= @academic_year.coverage_in_years %></strong></p>
        <p>Maximum leaves for faculty is 15</p>
        <p>Total leaves filed: <%= @total_leaves %></p>
        <p>Service Credits: <%= @service_credits %></p>
        <p>
          <strong>Balance: <%= @remaining_leaves %></strong><br>
          <span><em>(Maximum leaves - total leaves filed) + service credits accumulated</em></span>
        </p>
      </div>
    </div>
  </div>
<% end %>
<% unless @leaves.nil? %>
  <%# results = "#{pluralize(@leaves.count, 'record')} found" %>
  <!-- <h3 class="page-header">Search Results: <span style="font-style: italic"><%#= results %><span></h3>   -->
  <table id="table-master" class="table table-bordered table-striped content">
    <thead>
      <tr>
        <th>#</th>
        <th>Faculty</th>
        <th>Date Filed</th>
        <th>Start At</th>
        <th>End At</th>
        <th style="width: 138px;">Duration<em> (in days)</em></th>
        <!-- <th>Type</th> -->
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @leaves.each do |leave| %>
        <tr>
          <td><%= display_number += 1 %></td>
          <td><%= link_to leave.employee.full_name, admin_employee_leaves_path(leave.employee) %></td>
          <td><%= date_format_readable(leave.filed_at) %></td>
          <td><%= date_format_readable(leave.start_at) %></td>
          <td><%= date_format_readable(leave.end_at) %></td>
          <td><%= leave.length %></td>
          <!-- <td><%#= leave.type %></td> -->
          <td>
            <%#= link_to admin_leave_path(leave), { title: 'View', data: { toggle: 'tooltip' } } do %>
              <!-- <span class="glyphicon glyphicon-zoom-in"></span> -->
            <%# end %>
            <%= link_to edit_admin_leave_path(leave), { title: 'Edit', data: { toggle: 'tooltip' } }  do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to admin_leave_path(leave), method: :delete, title: 'Delete', data: { toggle: 'tooltip', confirm: 'Do you really want to delete this record?' } do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </td>        
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>