<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">
      <span>NBCs</span>
      <span class="pull-right">
        <%= link_to new_admin_nbc_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span> New
        <% end %>
      </span>
    </h2>
  </div>  <!-- .col-md-12 -->
</div> <!-- .row -->
<table class="table table-bordered table-striped table-master content">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @nbcs.each_with_index do |nbc, index| %>
      <tr>
        <td><%= index += 1 %></td>
        <td><%= link_to nbc.name, admin_nbc_path(nbc) %></td>
        <td><%= nbc.description %></td>
        <td>
          <%= link_to edit_admin_nbc_path(nbc), title: 'Edit', data: { toggle: 'tooltip'} do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to admin_nbc_path(nbc), method: :delete,
                title: 'Delete',
                data: { toggle: 'tooltip', confirm: 'Do you really want to delete this record?' } do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
          <%= link_to associate_academic_years_admin_nbc_path(nbc), title: 'Associate', data: { toggle: 'tooltip' }  do %>
          <span class="glyphicon glyphicon-random"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>