<%= form_for [:admin, @action] do |f| %>
  <%= error_messages_for(@action) %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :specialization_id, 'Specialization' %>
        <%= f.collection_select :specialization_id, Specialization.all, :id, :name, { include_blank: '--- Select Specialization ---' }, class: 'form-control', autofocus: true %>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :sponsoring_agency, "Sponsoring Agency" %>
        <%= f.text_field :sponsoring_agency, class: 'form-control' %>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :start_at %>
        <%= f.date_field :start_at, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :end_at %>
        <%= f.date_field :end_at, class: 'form-control' %>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', rows: 4 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :category %>
        <%= f.select :category, category_types_for_select, {}, class: 'form-control' %>
      </div>
    </div>
  </div>    
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.submit class: 'btn btn-primary' %>
      </div>      
    </div>
  </div>
<% end %>