<div class="link">
  <%= link_to '< Back to Career Path Actions', admin_career_path_actions_path, class: 'btn btn-link' %>  
</div>
<div class="row">
  <div class="col-md-12">
    <% category = category_type_to_string(@action.category) %>
    <h2 class="page-header"><%= "#{category}: #{@action.name}" %></h2>
  </div>
  <div class="col-md-12">
    <p><strong>Specialization: </strong><%= @action.specialization.name %></p>
    <p><strong>Start at: </strong><%= @action.start_at %></p>
    <p><strong>End at: </strong><%= @action.end_at %></p>
    <p><strong>Company: </strong><%= @action.company %></p>
    <p><strong>Description: </strong><%= @action.description %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3 class="page-header">Qualified faculty members:</h3>
    <table class="table table-bordered table-striped table-master content">
      <thead>
        <tr>
          <td>#</td>
          <td>Faculty</td>
          <td>Hired Date</td>
          <td>Years of Service</td>
        </tr>
      </thead>
      <tbody>
        <% @employees.each_with_index do |employee, index| %>
          <tr>
            <td><%= index += 1 %></td>
            <td><%= link_to employee.full_name, admin_employee_path(employee) %></td>
            <td><%= date_format_readable(employee.hired_date) %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="link">
  <%= link_to '< Back to Career Path Actions', admin_career_path_actions_path, class: 'btn btn-link' %>  
</div>