<div class="col-md-12">
  <h4 class="page-header">Pending <span><%= link_to 'Rating Tasks', rating_tasks_path %> for you</span></h4>
</div>
<div class="col-md-12">
  <table class="table table-bordered table-striped table-condensed table-master">
    <thead>
      <tr>
        <th>#</th>
        <th class="center">Description</th>
        <th class="center">Status</th>
        <th class="center">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each_with_index do |task, index| %>
        <tr>
          <td><%= index += 1 %></td>
          <td><%= task.description %></td>

          <% if task.pending? %>
            <td class="center">
              <span class="label label-warning"><%= task.status %></span>
            </td>
          <% elsif task.completed? %>
            <td class="center">
              <span class="label label-success"><%= task.status %></span>
            </td>
          <% elsif task.cancelled? %>
            <td class="center">
              <span class="label label-danger"><%= task.status %></span>
            </td>
          <% end %>

          <td class="center">
            <%= link_to [:edit, task.rating.qce, task.rating],
                { title: 'Evaluate', data: { toggle: 'tooltip' } } do %>
              <span class="glyphicon glyphicon-pencil"></span> Evaluate
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
