<div id="trainings-content" class="row">
  <h4 class="page-header">List of Trainings</h4>
</div>
<% display_number = 0 %>
<table class="table">
  <thead>
    <tr>
      <th>#</th>  
      <th>Title</th>
      <th>Start</th>
      <th>End</th>
      <th># of hours</th>
      <th>Conducted by</th>
    </tr>
  </thead>
  <tbody>
    <% @trainings.each do |trainings| %>
      <tr>
        <td><%= display_number += 1 %></td>
        <td><%= trainings.title %></td>
        <td><%= trainings.start_at %></td>
        <td><%= trainings.end_at %></td>
        <td><%= trainings.no_of_hours %></td>
        <td><%= trainings.conducted_by %></td>
      </tr>
    <% end %>
  </tbody>
</table>