<%= form_for [:admin, @employee, @service] do |f| %>
  <%= error_messages_for(@service) %>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control',
            autofocus: true, required: true,
            maxlength: Employee::AssessorService.get_field_limit_of(:name)
        %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :agency, 'Agency' %>
        <%= f.text_field :agency, class: 'form-control',
              required: true,
              maxlength: Employee::AssessorService.get_field_limit_of(:agency) %>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :start_at, 'Start At' %>
        <%= f.date_field :start_at, class: 'form-control',
              required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :end_at, 'End At' %>
        <%= f.date_field :end_at, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.check_box :is_current %>
        <%= f.label :is_current, 'Is current?', class: 'form-label' %>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>