<% unless @actions.nil? %>
  <h3>
    <%= @employee.specialization.name %>
    <%= "(#{@employee.career_path.name})" unless 
        @employee.specialization.is_generalize? %>
  </h3>
  <table class="table table-bordered table-striped table-master content">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Category</th>
        <th>Start</th>
        <th>End</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @actions.each_with_index do |action, index| %>
        <tr>
          <td><%= index += 1 %></td>
          <td><%= action.name %></td>
          <td><%= category_type_to_string(action.category) %></td>
          <td><%= date_format_readable(action.start_at) %></td>
          <td><%= date_format_readable(action.end_at) %></td>
          <td><%= action.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%# results = "#{pluralize(@leaves.count, 'record')} found" %>
<!-- <h3 class="page-header">Search Results: <span style="font-style: italic"><%#= results %><span></h3>   -->