<!DOCTYPE html>
<html>
<head>
  <title>CAPSU HR</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>  
  <%= render 'user/navbar' unless controller_name == 'sessions' %>
  <div class="app-container">
    <%= render 'shared/alert' %>
    <div class="container-fluid">    
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>