<!DOCTYPE html>
<html>
<head>
  <title>CAPSU HR</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>  
  <%= render 'user/navbar' unless controller_name == 'sessions' %>
  <div class="container-fluid">
    <%= render 'shared/alert' %>
    <%= yield %>
    <%= render 'shared/footer' %>

    <% 
      if true
        objects = {}
        objects[:params] = params
        objects[:params_controller] = params[:controller]
        objects[:controller_name] = controller_name
        objects[:controller_path] = controller_path
        objects[:action_name] = action_name
      end
    %>
    <% objects.each do |key, value| %>
      <%= debug([key.to_s, value]) %>
    <% end %>
    <pre>
      <span>current_user is: <%= current_user.nil? ? 'nil' : current_user %></span>
      <%#= controller_name %>
      <%#= action_name %>
    </pre>
  </div>
</body>
</html>