<%= form_for([:admin, @rating_period]) do |f| %>
  <%= error_messages_for(@rating_period) %>

  <div class="form-group">
    <%= f.label :start_at %>
    <%= f.number_field :start_at, class: 'form-control', autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :end_at %>
    <%= f.number_field :end_at, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :semester %>
    <%= f.select :semester, [['1st', 1], ['2nd', 2]], 
      class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, 
      RatingPeriod.statuses.keys.map { |key| [key.titleize, key] }, 
      class: 'form-control' %>
  </div>  
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>