<% display_number = 0 %>
<h2 class="page-header">Rating Periods</h2>
<%= link_to 'New Rating Period', new_admin_rating_period_path, class: 'btn btn-primary' %>
<!-- puts some gap here -->
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Start</th>
      <th>End</th>
      <th>Semester</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @rating_periods.each do |rating_period| %>
      <tr>
        <td><%= display_number += 1 %></td>
        <td><%= rating_period.start_at %></td>
        <td><%= rating_period.end_at %></td>
        <td><%= convert_semester(rating_period.semester) %></td>
        <td><%= rating_period.status.titleize %></td>
        <td><%= link_to 'Show', [:admin, rating_period] %></td>
        <td><%= link_to 'Edit', edit_admin_rating_period_path(rating_period) %></td>
        <td><%= link_to 'Destroy', [:admin, rating_period], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>