<table class="table table-striped table-bordered table-master">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Nature</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @employee.academic_advisories.each_with_index do |advisory, index| %>
      <tr>
        <td><%= index += 1 %></td>
        <td><%= advisory.title %></td>
        <td><%= advisory.nature_to_string %></td>
        <td><%= date_format_readable(advisory.start_at) %></td>
        <td><%= date_format_readable(advisory.end_at) %></td>
        <td>
          <%= render "admin/employees/action_links",
                        record: advisory, employee: advisory.employee %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>