<div id="professional-services" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Professional Services</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_professional_service_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%= render 'professional_services' %>    
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
</div>  <!-- #invention.category -->

<div id="academic-advisories" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Academic Advisories</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_academic_advisory_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%= render 'academic_advisories' %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
</div>  <!-- #discoveries.category -->

<div id="professional-reviews" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Professional Reviews</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_professional_review_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%= render 'professional_reviews' %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
</div>  <!-- #creative-works.category -->

<div id="innovations" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Innovations</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_innovation_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%#= render 'innovations' %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
</div>  <!-- #innovation.category -->

<div id="publications" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Publications (Book, Journal)</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_publication_path,
                class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%#= render 'publications' %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->  
</div>  <!-- #publication.category -->

<div id="technical-articles" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Technical Articles (Scholarly Research, Monograph)</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_technical_article_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%#= render 'technical_articles' %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->  
</div>  <!-- #technical-articles.category -->