<div id="professional-services" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Professional Services</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_professional_service_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%= render 'professional_services' %>    
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
</div>  <!-- #invention.category -->

<div id="academic-advisories" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Academic Advisories</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_academic_advisory_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%= render 'academic_advisories' %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
</div>  <!-- #discoveries.category -->

<div id="professional-reviews" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Professional Reviews</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_professional_review_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%= render 'professional_reviews' %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
</div>  <!-- #creative-works.category -->

<div id="accreditation-services" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Accreditation Services</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_accreditation_service_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%= render 'accreditation_services' %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
</div>  <!-- #innovation.category -->

<div id="assessor-services" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Assessor Services</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_assessor_service_path,
                class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%= render 'assessor_services' %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->  
</div>  <!-- #publication.category -->

<div id="trainer-services" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Trainer Services</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_trainer_service_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>      
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%= render 'trainer_services' %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->  
</div>  <!-- #technical-articles.category -->