<% provide(:content_id, 'id=work-experiences-content') %>
<% display_number = 0 %>
<div>
  <%= link_to new_admin_employee_work_experience_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span> New
  <% end %>
</div>
<table class="table table-striped table-bordered table-master">
  <thead>
    <tr>
      <th>#</th>  
      <th>Position/Title</th>
      <th>Company</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @work_experiences.each do |work| %>
      <tr>
        <td><%= display_number += 1 %></td>
        <td><%= link_to work.position_title, admin_employee_work_experience_path(@employee, work) %></td>
        <td><%= work.company %></td>
        <td><%= work.start_at %></td>
        <td><%= work.end_at %></td>
        <td>
          <%= link_to edit_admin_employee_work_experience_path(@employee, work)   do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to admin_employee_work_experience_path(@employee, work), method: :delete, data: { confirm: 'Do you really want to delete this record?' } do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>                
      </tr>
    <% end %>
  </tbody>
</table>