<div id="academic-work-experiences" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Academic Work Experiences</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_academic_work_experience_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%= render 'academic_work_experiences' %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
</div>  <!-- #academic-work-experiences.category -->

<div id="admin-work-experiences" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Administrative Work Experiences</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_admin_work_experience_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%= render 'admin_work_experiences' %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
</div>  <!-- #admin-work-experiences.category -->

<div id="" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Academic Work Experiences</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_academic_work_experience_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%#= render 'academic_work_experiences' %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
</div>  <!-- #.category -->

<div id="" class="category">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-header">
        <span>Academic Work Experiences</span>
        <span class="pull-right">
          <%= link_to new_admin_employee_academic_work_experience_path,
            class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus"></span> New
          <% end %>
        </span>
      </h4>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <%#= render 'academic_work_experiences' %>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
</div>  <!-- #.category -->