<h2 class="page-header"><%= @career_path.name.titlecase %> Career Path</h2>
<h4 class="page-header career-paths-subheader">Specializations under this path:</h4>
<table class="table table-bordered table-striped table-master content">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% display_number = 0 %>
    <% @specializations.each do |specialization| %>
      <tr>
        <td><%= display_number += 1 %></td>
        <td><%= link_to specialization.name, admin_specialization_path(specialization) %></td>
        <td>
          <%= link_to edit_admin_specialization_path(specialization), { title: 'Edit', data: { toggle: 'tooltip' } }  do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to admin_specialization_path(specialization), method: :delete, title: 'Delete', data: { toggle: 'tooltip', confirm: 'Do you really want to delete this record?' } do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Career Path Actions -->
<h4 class="page-header career-paths-subheader">Career actions under this path:</h4>
<table class="table table-bordered table-striped table-master content">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Category</th>
      <th>Start</th>
      <th>End</th>
      <th>Description</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @actions.each do |action| %>
      <tr>
        <td><%= display_number += 1 %></td>
        <td><%= link_to action.name, admin_career_path_action_path(action) %></td>
        <td><%= category_type_to_string(action.category) %></td>        
        <td><%= date_format_readable(action.start_at) if action.start_at.present? %></td>
        <td><%= date_format_readable(action.end_at) if action.end_at.present? %></td>
        <td><%= action.description %></td>
        <td>
          <%= link_to edit_admin_career_path_action_path(action), { title: 'Edit', data: { toggle: 'tooltip' } } do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to admin_career_path_action_path(action), method: :delete, title: 'Delete', data: { confirm: 'Do you really want to delete this record?', toggle: 'tooltip' } do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="links">
  <%= link_to 'Edit', [:edit, :admin, @career_path], class: 'btn btn-link' %> |
  <%= link_to 'Back to List', admin_career_paths_path, class: 'btn btn-link' %>
</div>