<%= form_for [:admin, @employee, @instructional_manual] do |f| %>
  <%= error_messages_for(@instructional_manual) %>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control',
            autofocus: true,
            maxlength: Employee::InstructionalManual.get_field_limit_of(:name) %>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :level %>
        <%= f.number_field :level, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :category %>
        <%= f.number_field :category, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :published_at %>
        <%= f.date_field :published_at, class: 'form-control' %>
      </div>      
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.submit class: 'btn btn-primary' %>    
      </div>
    </div>
  </div>
<% end %>