<%# if params[:employee].nil? %>
  <%# value = nil %>
<%# else %>
  <%# value = params[:employee][:id] %>
<%# end %>
<%#= collection_select nil, :employee_id, Employee.order(:last_name), :id, :full_name_in_reverse, { include_blank: '-- Select Employee --', selected: employee_id }, { class: 'form-control' } %>
<%
  if controller_name == 'leaves'
    form_submit_path = admin_leaves_path
    #clear_results_path = admin_leaves_path
  elsif controller_name == 'leave_service_credits'
    form_submit_path = admin_leave_service_credits_path
  end
%>
<div id="leave-search-box" class="row">
  <div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Search</h4>
    </div>
    <div class="panel-body">
      <%= form_tag form_submit_path, method: :get do %>
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :academic_year_id, 'Academic Year' %>
              <%= collection_select :academic_year, :id, AcademicYear.display_all, :id, :coverage_with_details, { include_blank: '-- Select Academic Year --', selected: "e" }, { class: 'form-control', name: 'search[academic_year_id]' } %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :employee_id, 'Employee' %>
              <%= collection_select :employee, :id, Employee.all, :id, :full_name, { include_blank: '-- Select Employee --', selected: "e" }, { class: 'form-control', name: 'search[employee_id]' } %>
            </div>
          </div>
          <div class="col-md-3 view-button">
            <div class="form-group">
              <%= button_tag(name: 'search[button]', type: 'submit', class: 'btn btn-default') do %>
                <%= content_tag(:strong, 'Search') %>
              <% end %>
              <%= link_to 'Clear results', form_submit_path, class: 'btn btn-default' %>
            </div>
          </div>
        </div>  <!-- div.col-md-12 -->
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="form-group">
              <%= label_tag :group_by_employees do %>
                <%= check_box_tag :group_by_employees %> Group search results
              <% end %>
            </div>
          </div>  
        </div>        
      <% end %>
    </div>  <!-- div.panel-body -->
  </div>  <!-- div.panel.panel-default -->
</div>
</div>  <!-- div#leave-search-box -->