<style>
  div.panel-body {
    padding: 15px 7px 7px 7px;
  }

  form div.col-md-3 {
    // border: 1px green solid;
    padding: 0px 7px;
  }

  form > div.col-md-12 {
    // border: 1px red solid;
    padding: 0px 7px;
  }
    
  div.panel-heading {
    padding-top: 7px;
    padding-bottom: 7px;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">
      <span>Leave Service Credits<span>
      <span class="pull-right">
        <%= link_to new_admin_leave_service_credit_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span> New
        <% end %>
      </span>
    </h2>
  </div>  <!-- .col-md-12 -->
</div>  <!-- .row -->
<%= render 'search_box' %>
<% display_number = 0 %>
<table id="table-master" class="table table-bordered table-striped content">
  <thead>
    <tr>
      <th>#</th>
      <th>Employee</th>
      <th>Academic Year</th>
      <th># of days</th>
      <th>Valid At</th>
      <th>Expires At</th>
      <th>Description</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @leave_service_credits.each do |credit| %>
      <tr>
        <td><%= display_number += 1 %></td>
        <td><%= link_to credit.employee.full_name, '#' %></td>
        <td><%= credit.academic_year.coverage_with_details %></td>
        <td><%= credit.no_of_days %></td>
        <td><%= date_format_readable(credit.valid_at) %></td>
        <td><%= date_format_readable(credit.expire_at) %></td>
        <td><%= credit.description %></td>
        <td>
          <%= link_to edit_admin_leave_service_credit_path(credit)   do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to admin_leave_service_credit_path(credit), method: :delete, data: { confirm: 'Do you really want to delete this record?' } do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>