<%= form_for(@work_experience) do |f| %>
  <%= error_messages_for(@work_experience) %>

  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :position, 'Position' %>
        <%= f.select :position,
              Employee::PublicPrivateWorkExperience.position_options, {},
              autofocus: true, class: 'form-control'
        %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :institution, 'Institution' %>
        <%= f.text_field :institution, class: 'form-control',
            required: true,
            maxlength: Employee::PublicPrivateWorkExperience.
                        get_field_limit_of(:institution)
        %>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :start_at, 'Start At' %>
        <%= f.date_field :start_at, class: 'form-control',
              required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :end_at, 'End At' %>
        <%= f.date_field :end_at, class: 'form-control',
              required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>