<!DOCTYPE html>
<html>
<head>
  <title>CAPSU HR Admin - Emp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'admin/navbar' unless controller_name == 'sessions' %>
  <div class="app-container">
    <%= render 'shared/alert' %>
    <div class="container-fluid">
      <%= render 'admin/employees/card' %>
      <%= render 'admin/employees/tabs_of_related_data' %>
      <%= yield %>
      <div class="row links">
        <%= link_to 'Edit', edit_admin_employee_path(@employee), class: 'btn btn-link' %> |
        <%= link_to 'Back to Employees', admin_employees_path, class: 'btn btn-link' %>
      </div>      
    </div>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>