<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">QCE Ratings</h2>
  </div>  <!-- .col-md-12 -->
</div> <!-- .row -->
<% display_number = 0 %>
<div>
  <h4>Available QCE Ratings</h4>
  <table id="table-master" class="table table-bordered table-striped content">
    <thead>
      <tr>
        <th>#</th>
        <th>Academic Year Coverage</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%# if true %>
      <% @available_rating_periods.each do |period| %>
        <tr>
          <td><%= display_number += 1 %></td>
          <td><%= period.coverage %></td>
          <td><%= button_to 'Begin', { action: :create }, class: 'btn btn-success', params: { rating_period_id: period.id } %></td>
        </tr>
      <% end %>
      <%# end %>
    </tbody>
  </table>
</div>

<!-- Show previous and completed QCE Ratings -->
<% display_number = 0 %>
<div>
  <h4>Completed QCE Ratings</h4>
  <table id="table-master" class="table table-bordered table-striped content">
    <thead>
      <tr>
        <th>#</th>
        <th>Faculty</th>
        <th>Rating Period</th>
        <th>Status</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @ratings.each do |rating| %>
        <tr>
          <td><%= display_number += 1 %></td>
          <td><%= rating.employee.full_name %></td>
          <td><%= rating.rating_period.coverage %></td>
          <td>
            <span class="<%= rating.completed? ? 'label label-success' : 'label label-danger' %>">
              <%= rating.completed? ? 'Completed' : 'Incomplete' %>
            </span>
          </td>
          <td>
            <%= link_to edit_admin_qce_path(rating)   do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to admin_qce_path(rating), method: :delete, data: { confirm: 'Do you really want to delete this record?' } do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>